//Row START

.row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    &-vcenter {
        justify-content: center;
    }

    &-hcenter {
        align-items: center;
    }

    &-vstack {
        flex-direction: column;
        gap: 10px;
    }
}

//Row END


//Columns START
//排版以12欄為基準，欄位間距為30px
//例:col-4意旨寬度為4欄
.col {
    width: 100%;

    &-4 {
        width: calc((100% - 60px) / 3);
    }
    
    &-6 {
        width: calc((100% - 30px) / 2);
    }
   
    &-8 {
        width: 66%;
    }
}

//Columns END

 
