input[type="text"] {
    font-size: 13px;
}

input[type="radio"], input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

input[type="radio"] {
    background-image: url('../images/radio-unselected.svg');

    &:checked {
        background-image: url('../images/radio-selected.svg');
    }

    &:focus {
        background-image: url('../images/radio-selected.svg');
    }

    &:disabled {
        background-image: url('../images/radio-unselected-disable.svg');
        cursor: not-allowed;
    }

    &:checked:disabled {
        background-image: url('../images/radio-selected-disable.svg');
    }
}

input[type="checkbox"]{
    background-image: url('../images/checkbox-unchecked.svg');

    &:checked {
        background-image: url('../images/checkbox-checked.svg');
    }

    &:disabled {
        background-image: url('../images/checkbox-unchecked-disable.svg');
        cursor: not-allowed;
    }
}